@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");
@font-face {
  font-family: "Azonix";
  src: url("/src/assets/fonts/Azonix.otf");
  font-weight: 400;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-raleway: Raleway;
  --font-azonix: Azonix;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-sm: 14px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;

  /* Colors */
  --color-white: #fff;
  --color-gainsboro: #d9d9d9;
  --color-orangered: #fb4c01;

  /* Gaps */
  --gap-xl: 20px;
  --gap-base: 16px;
  --gap-3xl: 22px;

  /* Paddings */
  --padding-33xl: 52px;
  --padding-3xs: 10px;
  --padding-xl: 20px;

  /* Border radiuses */
  --br-lg-5: 18.5px;
}